<p id="notice"><%= notice %></p>

<h1>Add your CrowdFlowers</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th>Appropriateness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.author %></td>
        <td><%= tweet.body %></td>
     <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>      
   </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create a New Tweet', new_tweet_path %>
