<p id="notice"><%= notice %></p>

<h1>Crowdsource</h1>


<section>
<table class = table table-bordered>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.author %></td>
        <td><%= tweet.body %></td>
     <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>      
   </tr>
    <% end %>
  </tbody>
</table>
<a href="/run_crowdsource/" class = index>Crowdsource These Tweets</a>
<a href="/new_tweet/" class = index>Crowdsource These Tweets</a>

<%= link_to 'Create a New Tweet', new_tweet_path %>
</section>

