<p id="notice"><%= notice %></p>



<h1>Listing Tweets based on Appropriateness Score</h1>

<table class = table table-bordered>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th>Appropriateness</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.author %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.approp_score %></td>
        <td><%= link_to 'Show ', tweet %></td>
        <td><%= link_to 'Edit ', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create a New Tweet', new_tweet_path %>
<br>
<%= link_to 'Sort by Author name', tweet_order_author_path(@tweets) %>

<br>
<%= link_to 'Sort by Appropriateness', tweet_order_approp_path(@tweets) %>

<br>
<%= link_to 'Check out your first tweet', tweet_first_path(@tweets) %>

<br>
<%= link_to 'Check out your latest tweet', tweet_last_path(@tweets) %>

<br>